/* General styles */
* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

#content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

#add-knowledge-container, #file-upload-container, #knowledgeDisplay {
    flex: 1;
    min-width: 300px; /* Ensure a minimum width for better readability */
    max-width: 300px; /* Ensure a maximum width for consistency */
    padding: 20px; /* Standardized padding */
}

#button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Chat widget styles */
.chat-widget {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 0;
    right: 15px;
    width: 300px;
    max-height: 400px;
    background-color: #00264d; /* Darker navy blue */
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff; /* White text color */
    overflow: hidden;
    z-index: 1000;
}

.chat-header {
    background-color: #004080; /* Darker navy blue */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.chat-close {
    cursor: pointer;
}

.chat-body {
    padding: 10px;
    overflow-y: auto;
}

.chat-body form {
    display: flex;
    flex-direction: column;
}

.chat-body input, .chat-body button {
    width: 100%;
    margin: 5px 0;
}

.chat-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
}

.chat-button button {
    background-color: #004080; /* Darker navy blue */
    color: #ffffff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-button button:hover {
    background-color: #0059b3; /* Lighter navy blue on hover */
}

#language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

#language-switcher button {
    font-size: 12px; /* Smaller font size */
    padding: 5px 10px; /* Smaller padding */
    background-color: #004080; /* Darker navy blue */
    color: #ffffff; /* White text color */
    border: none;
    cursor: pointer;
}

#language-switcher button:hover {
    background-color: #0059b3; /* Lighter navy blue on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
    #content-container {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        align-items: center;
    }

    #map {
        height: 400px;
    }

    .knowledge-form, #file-upload-container, #knowledgeDisplay {
        margin: 10px;
        padding: 10px;
    }

    input, textarea, button {
        padding: 8px;
        margin: 4px 0;
    }
}